[submodule "vim/.vim/bundle/vundle"]
    path = vim/.vim/bundle/vundle
      url = https://github.com/gmarik/vundle.git
[submodule "emacs/.emacs.d"]
    path = emacs/.emacs.d
      url = https://github.com/DMTaylor0147390/spacemacs
[submodule "emacs/.spacemacs.d"]
    path = emacs/.spacemacs.d
    url = https://github.com/practicalli/spacemacs-config
[submodule "new-emacs-config"]
    path = new-emacs-config
      url = https://github.com/DMTaylor0147390/spacemacs
[submodule "tmux-config"]
    path = tmux/config
      url = https://github.com/dreamsofcode-io/tmux


